*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(241, 242, 246);
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.clear:after{
  content: '';
  height: 0;
  display: block;
  clear: both;
}

.mt{
  margin-top:20px;
}

.mb{
  margin-bottom: 20px;
}

.ml{
  margin-left: 20px;
}

.mr{
  margin-right: 20px;
}


::-webkit-scrollbar {
  display: none;
}